
<div class='col-sm-2'>
    <ul class='sidebar-nav'>
        <li><a href='/catalog'>Home</a></li>
        <li><a href='/catalog/stores'>Stores</a></li>
        <li><a href='/catalog/categories'>Categories</a></li>
        <li><a href='/catalog/items'>Items</a></li>
        <hr>
        <li> <a href='/catalog/store/create'>Create Store</a> </li>
        <li><a href='/catalog/category/create'>Create Category</a></li>
        <li><a href='/catalog/item/create'>Create Item</a></li>
    </ul>
</div>

